.contentContainer {
	display: flex;
	padding: 0 var(--normal-box-padding);
}

.contentContainer > section {
	padding-bottom: var(--normal-box-padding);
}

.contentContainer > section:first-child {
	height: calc(100vh - var(--header-height) - var(--header-margin-bottom));
	overflow-y: auto;
	width: 55rem;
	padding-right: calc(var(--normal-box-padding) / 2);
}

.contentContainer > section:nth-child(2) {
	flex: 1;
}

.contentContainer > section > nav {
	display: flex;
	flex-wrap: wrap;
}

.contentContainer > section > nav > a {
	color: var(--primary-text-color);
	text-decoration: none;
	text-align: center;
	display: block;
	background-color: var(--secondary-bg-color);
	padding: 0.9rem 1.5rem;
	border: var(--normal-border-width) solid var(--normal-border-color);
	font-family: var(--special-font-family);
	margin-left: calc(var(--normal-box-padding) / 2);
	margin-bottom: calc(var(--normal-box-padding) / 2);
	border-radius: var(--small-border-radius);
}

.contentContainer > section > nav > a:hover,
.contentContainer > section > nav > a:focus {
	border-color: var(--hover-border-color);
	background-color: var(--hover-bg-color);
	outline: none;
}

.contentContainer > section > nav > a.active {
	color: var(--primary-text-color);
	background-color: var(--active-bg-color);
	border-color: var(--active-border-color);
}

.content {
	height: calc(
		100vh - var(--header-height) - var(--header-margin-bottom) -
			var(--normal-box-padding) - 4.75rem
	); /* FIXME */
	overflow-y: auto;
	border: var(--normal-border-width) solid var(--normal-border-color);
	padding: var(--normal-box-padding);
	background-color: var(--secondary-bg-color);
	border-radius: var(--normal-border-radius);
}

@media (max-width: 1120px) {
	.contentContainer {
		flex-direction: column;
	}

	.contentContainer > section:first-child {
		padding-right: 0;
	}

	.contentContainer > section {
		height: auto !important;
		width: 100% !important;
	}

	.content {
		height: auto;
	}

	.contentContainer > section > nav > a {
		flex-grow: 1;
	}

	.contentContainer > section > nav > a:first-child {
		margin-left: 0;
	}
}
