.contentContainer {
	display: flex;
	padding: 0 var(--normal-box-padding);
}

.contentContainer > section {
	height: calc(100vh - var(--header-height));
	overflow-y: auto;
	padding: var(--normal-box-padding);
}

.contentContainer > section:first-child {
	width: 55rem;
	background-color: var(--secondary-bg-color);
}

.contentContainer > section:nth-child(2) {
	flex: 1;
	border-right: 0.2rem solid var(--secondary-bg-color);
}

.contentContainer > section > nav {
	position: sticky;
	top: calc(var(--normal-box-padding) - var(--normal-box-padding) * 2);
	display: flex;
	flex-wrap: wrap;
	background-color: var(--secondary-bg-color);
	margin: calc(var(--normal-box-padding) - var(--normal-box-padding) * 2)
		calc(var(--normal-box-padding) - var(--normal-box-padding) * 2)
		var(--normal-box-padding);
}

.contentContainer > section > nav > a {
	color: var(--muted-text-color);
	text-decoration: none;
	text-align: center;
	display: block;
	background-color: var(--quaternary-bg-color);
	padding: 0.9rem 1.5rem;
	border-left: 0.1rem solid var(--secondary-bg-color);
}

.contentContainer > section > nav > a:first-child {
	border-left: 0;
}

.contentContainer > section > nav > *.active {
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
}

@media (max-width: 1120px) {
	.contentContainer {
		flex-direction: column;
	}

	.contentContainer > section {
		height: auto;
		width: 100% !important;
	}

	.contentContainer > section > nav > a {
		flex-grow: 1;
	}
}

@media (max-width: 1920px) {
	.contentContainer {
		padding: 0;
	}

	.contentContainer > section:nth-child(2) {
		border-right: 0;
	}
}
