.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 72rem;
	margin: 0 auto;
}

.container header {
	text-align: center;
	margin-bottom: 1rem;
}

.container main {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.tile {
	background-color: var(--secondary-bg-color);
	margin: 1rem;
	padding: 1rem 1.5rem 1.5rem;
	width: 34rem;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}
