.headerContainer {
	height: var(--header-height);
	position: sticky;
	top: 0;
	z-index: 100;
	margin-bottom: var(--header-margin-bottom);
}

.header {
	height: 100%;
	padding: 0 var(--normal-box-padding);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.section {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

@media (max-width: 1120px) {
	.headerContainer {
		background-color: rgba(0, 0, 0, 0.9);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}
}

@media (max-width: 800px) {
	.header {
		justify-content: flex-end;
	}

	.hideLogoIfNeeded {
		display: none;
	}
}

.header button {
	margin-top: 0;
}
