.header {
	background-color: var(--tertiary-bg-color);
	box-shadow: var(--normal-box-shadow);
	height: 5rem;
	position: sticky;
	top: 0;
	padding: 0 2rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.section {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

@media (max-width: 50rem) {
	.header {
		justify-content: flex-end;
	}

	.hideLogoIfNeeded {
		display: none;
	}
}

.header button {
	margin-top: 0;
}
