.shipLink {
	display: flex;
	justify-content: space-between;
	color: var(--primary-text-color);
	text-decoration: none;
	background-color: var(--secondary-bg-color);
	padding: calc(var(--normal-box-padding) / 3)
		calc(var(--normal-box-padding) / 2);
	border: var(--normal-border-width) solid var(--normal-border-color);
	margin-bottom: calc(var(--normal-box-padding) / 2);
	border-radius: var(--small-border-radius);
}

.shipLink:last-child {
	margin-bottom: 0;
}

.shipLink > div:first-child {
	padding-right: 1rem;
}

.shipLink:hover,
.shipLink:focus {
	border-color: var(--hover-border-color);
	background-color: var(--hover-bg-color);
	outline: none;
}

.shipLink > div:last-child {
	text-align: right;
}

.activeShipLink,
.activeShipLink:hover {
	border-color: var(--active-border-color);
	background-color: var(--active-bg-color);
	color: var(--primary-text-color);
}
