@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Play:wght@400;700&display=swap");

:root {
	--primary-text-color: #e7e7e7;
	--muted-text-color: #aaa;
	--primary-color: #007acc;
	--secondary-color: #16825d;
	--tertiary-color: #333;
	--primary-bg-color: #1e1e1e;
	--secondary-bg-color: #252526;
	--tertiary-bg-color: #333;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Play", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Orbitron", "Play", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-weight: normal;
	color: var(--primary-color);
	text-shadow: 0.1rem 0.1rem #000;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0.3rem;
	padding: 0.1rem 0.4rem;
}

button {
	background-color: var(--primary-color);
	border: 0;
	border-radius: 0.3rem;
	box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
	color: var(--primary-text-color);
	padding: 0.6rem 1rem;
	cursor: pointer;
	margin-top: 1rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
textarea {
	font-size: 1.6rem;
	background-color: #3c3c3c;
	border: 0.1rem solid #3c3c3c;
	color: var(--primary-text-color);
	border-radius: 0.3rem;
	width: 100%;
	margin: 0.3rem 0;
	padding: 0.6rem 0.6rem;
}

select:focus {
	font-size: 1.6rem;
}

input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
textarea {
	border-color: var(--primary-color);
	outline: 0;
}

input[type="checkbox"] {
	margin: 0.3rem 0.3rem 1.3rem 0;
}

label {
	display: block;
	margin-top: 1rem;
}

a {
	color: var(--primary-color);
}
