@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Play:wght@400;700&family=Share+Tech+Mono&display=swap");

:root {
	--normal-font-family: "Play", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	--special-font-family: "Orbitron", "Play", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	--monospace-font-family: "Share Tech Mono", source-code-pro, Menlo, Monaco,
		Consolas, "Courier New", monospace;
	--primary-text-color: #e7f7ff;
	--inverted-text-color: #000;
	--muted-text-color: #aaa;
	--primary-color: #fcc22d;
	--secondary-color: #16825d;
	--tertiary-color: #3c3c3c;
	--primary-bg-color: #000;
	--secondary-bg-color: rgba(50, 82, 160, 0.2);
	--tertiary-bg-color: rgba(50, 82, 160, 0.15);
	--quaternary-bg-color: #2d2d2d;
	--normal-box-padding: 1.5rem;
	--normal-border-radius: 1.5rem 0 1.5rem;
	--small-border-radius: 0.8rem 0 0.8rem;
	--normal-box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
	--normal-border-width: 0.1rem;
	--normal-border-color: rgb(50, 82, 160);
	--hover-bg-color: rgba(50, 82, 160, 0.5);
	--hover-border-color: rgb(58, 96, 183);
	--active-bg-color: rgba(50, 82, 160, 0.7);
	--active-border-color: rgb(58, 96, 183);
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: var(--normal-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--primary-bg-color);
	background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
		radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAgklEQVQImSXDzQqCQBSA0XtndHSnC5mVYFr+hg/gGwi1KggJJgh9/1f4WnTgiFwPZNrRPhDVG3G9oX1AZNyJp4NkCNjzg+jyJBkCou2HqP3iyhUtOrTocOWKaPNCTxsmmzFW/rMZ0fqONDdMXuHU4tRi8gpx4xvTBdQv2NRjU4/6hR/jyTE5iE+y7gAAAABJRU5ErkJggg==);
	color: var(--primary-text-color);
	font-size: 1.6rem;
	text-shadow: 0.1rem 0.1rem #000;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--special-font-family);
	font-weight: normal;
	color: var(--primary-text-color);
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.2rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child,
dl:first-child {
	margin-top: 0;
}

p:last-child,
dl:last-child {
	margin-bottom: 0;
}

code {
	font-family: var(--monospace-font-family);
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: var(--small-border-radius);
	padding: 0.1rem 0.4rem;
}

button {
	background-color: rgba(50, 82, 160, 0.3);
	border: var(--normal-border-width) solid var(--normal-border-color);
	border-radius: var(--small-border-radius);
	box-shadow: var(--normal-box-shadow);
	color: var(--primary-text-color);
	padding: 0.6rem 1rem;
	cursor: pointer;
	margin-top: 1rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-shadow: 0.1rem 0.1rem #000;
	font-family: var(--special-font-family);
}

button:hover,
button:focus {
	background-color: var(--hover-bg-color);
	border-color: var(--hover-border-color);
	outline: none;
}

button:active {
	background-color: var(--active-bg-color);
	border-color: var(--active-border-color);
}

input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
textarea {
	font-size: 1.6rem;
	background-color: var(--secondary-bg-color);
	border: var(--normal-border-width) solid var(--normal-border-color);
	color: var(--primary-text-color);
	width: 100%;
	margin: 0.3rem 0;
	padding: 0.6rem 0.6rem;
}

select:focus {
	font-size: 1.6rem;
}

input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
textarea {
	background-color: var(--hover-bg-color);
	border-color: var(--hover-border-color);
	outline: none;
}

input[type="checkbox"] {
	margin: 0.3rem 0.3rem 1.3rem 0;
}

label {
	display: block;
	margin-top: 1rem;
}

a {
	color: var(--primary-color);
}

dl {
	margin-bottom: 0;
}

dl > div {
	display: flex;
	align-items: stretch;
}

dl > div:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.25);
}

dl > div > dt {
	font-weight: bold;
}

dl > div > dd {
	margin: 0;
	text-align: right;
}

dl > div > dt,
dl > div > dd {
	padding: 0.3rem 0.6rem;
	flex-grow: 1;
}
