.gameStatus {
	display: inline-block;
	background-color: #5d5d5d;
	height: 0;
	width: 0;
	padding: 0.5rem;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
}

.online {
	background-color: #0fb87e;
}

.offline {
	background-color: rgb(217, 0, 0);
}
